.column-navbar {
    background-image: url(/dist/assets/images/bg-sidebar-desktop.svg);
    font-size: 16px;
    width: 240px;
    height: 76vh;
    border-radius: 7%;
    margin: 10px 10px 10px 10px;

    .nav-item {

        .nav-link {
            

            .nav-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                background: none;
                color: var(--Alabaster);
                border: 1px solid var(--Alabaster);
                border-radius: 50%;
                width: 32px;
                height: 32px;
                margin-top: 9px;
            }

            .col {

                p {
                    margin: 0 0 0 10px;
                }

                h2 {
                    font-size: 16px;
                    color: var(--Magnolia);
                    margin: 0 0 0 10px;
                }
            }

            &:active {
                
                .nav-icon {
                    background: var(--Light-blue);
                    color: var(--Marine-blue);
                    border: none;
                }
            }

            &.active {
                background: none;

                .nav-icon {
                    background: var(--Light-blue);
                    color: var(--Marine-blue);
                    border: none;
                }
            }
        }
    }
}