.steps {
    margin: 20px 20px 20px 20px;

    section {
        justify-self: center;

        h1 {
            color: var(--Marine-blue);
        }
        h2 {
            color: var(--Marine-blue);
            font-size: 16px;
        }
        form {

            .item-box {
                font-size: 16px;

                .form-control {
                    font-size: 16px;
                }
            }

            .button {
                font-size: 16px;
                background: var(--Marine-blue);
                color: var(--Magnolia);
            } 
        }
    }
}