.steps {
    display: flex;

    .hidden {
        display: none;
    }

    section {
        justify-self: center;

        h1 {
            color: var(--Marine-blue);
            margin-top: 10px;
        }
        h2 {
            color: var(--Marine-blue);
            font-size: 16px;
        }
        form {

            .item-box {
                font-size: 16px;
                margin-top: 20px;

                .form-control {
                    font-size: 16px;

                    &::placeholder, &::target-text {
                        font-weight: 500;
                    }

                    &:active, &:hover {
                        border: 2px solid var(--Marine-blue);
                    }
                }
            }

            .button {
                font-size: 16px;
                background: var(--Marine-blue);
                color: var(--Magnolia);
                margin-top: 50px;
            } 
        }
    }
}